.container .container_fluid .tree_section .our_project{
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 1px 3px 2px 2px #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}