{% extends '../base.html' %}
{% load static %}

<link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">
{% block content %}

<!-- -------------------------------------------------------------------------------------- -->

<section class="home">
	<!-- Code Here -->
	<h2>Home</h2>
</section>


<!-- -------------------------------------------------------------------------------------- -->

<!-- <p>Home</p>
	{% for p in premium %}
		<h1>{{ p.name }} de 
		{{ p.price }} $
		</h1>
		<h2>Contenu</h2>
		<p>
			{% for a in p.packs.all %}
				{{ a.name }}:
				{{ a.items }}</p>
			{% endfor %}
		</p>
		<br>
		<hr>
		<br>
	{% endfor %}
	Service favoris: 
	{% for n in services %}
		{{ n.name }}
	{% endfor %} -->

{% endblock %}