{% extends '../base.html' %}
{% load static %}

<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">
{% block content %}

<!-- -------------------------------------------------------------------------------------- -->

<section class="content">
	<div class="all-content">

	  <!-- start section 1 -->
	  <section class="section1">
		<div class="section-body display-flex">
		  <div class="content text-hero">
			<h1>UPHUB</h1>
			<div class="course-hero">
			  <h2>
				<strong>Faites vous des micros services a la vitesse <br>de la lumière
				  avec nos experts.</strong>
			  </h2>
			  <div class="option-hero display-flex">
				<ul class="contact-expert">
				  <li class="contact-expert-link-1">
					<a href="http://upcookie.ci/expert">Contacter un expert</a>
				  </li>

				  <li class="contact-expert-link-2">
					<a href="http://upcookie.ci/services">Voir nos services</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>

		  <div class="illustration">
			<!--  -->
		  </div>
		</div>
	  </section>
	  <!-- end section 1 -->
	  <hr />
	  <!-- start section 2 -->
	  <section class="section section2">
		<div class="container-section2">
		  <!-- start left content -->
		  <div class="section2-content text-content">
			<h1>Enjaillez vous avec <span>nos services</span></h1>
			<p class="paragraphe">
			  Vous chercher un expert pour le logo de votre entreprise, ou
			  encore un monteur de video ?<br />Trouvez Ici et maintenant votre
			  bonheur.
			</p>
		  </div>

		  <div class="home-push__mosaic-1 card card-big ">
			<a class="pill pill-yellow" href="#">Les services populaires</a>
			<div class="home-list stack-separated" style="--gap: 2">
			  <div class="home-list__item">
				<a class="card__title" href="https://www.youtube.com/">DEVELOPPEMENT WEB</a>
				<div>19 Demandes</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="https://www.youtube.com/">INTEGRATION WEB</a>
				<div>221 Demandes</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="https://www.youtube.com/">CREATION DE CONTENUE LOGOS & DESIGN</a>
				<div>17 Demandes</div>
			  </div>
			  <div class="button">
				<a href="#"> PASSEZ UNE COMMANDE ! </a>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	  <!-- end section 2 -->

	  <section>
		<!-- partial:index.partial.html -->
		<div class="title">
		  <h1><span>Upcookie Responsive</span> Carousel Gallery</h1>
		</div>

		<!--Carousel Gallery-->
		<div class="carousel-gallery">
		  <div class="swiper-container">
			<div class="swiper-wrapper">
			  <div class="swiper-slide">
				<a href="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?cs=srgb&dl=pexels-pixabay-39284.jpg&fm=jpg"
				  data-fancybox="gallery">
				  <div class="image"
					style="background-image: url(https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?cs=srgb&dl=pexels-pixabay-39284.jpg&fm=jpg)">
					<div class="overlay">
					  <em class="mdi mdi-magnify-plus"></em>
					</div>
				  </div>
				</a>
			  </div>
			  <div class="swiper-slide">
				<a href="https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?cs=srgb&dl=pexels-negative-space-160107.jpg&fm=jpg"
				  data-fancybox="gallery">
				  <div class="image"
					style="background-image: url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?cs=srgb&dl=pexels-negative-space-160107.jpg&fm=jpg)">
					<div class="overlay">
					  <em class="mdi mdi-magnify-plus"></em>
					</div>
				  </div>
				</a>
			  </div>
			  <div class="swiper-slide">
				<a href="https://images.pexels.com/photos/614117/pexels-photo-614117.jpeg?cs=srgb&dl=pexels-jorge-jesus-614117.jpg&fm=jpg"
				  data-fancybox="gallery">
				  <div class="image"
					style="background-image: url(https://images.pexels.com/photos/614117/pexels-photo-614117.jpeg?cs=srgb&dl=pexels-jorge-jesus-614117.jpg&fm=jpg)">
					<div class="overlay">
					  <em class="mdi mdi-magnify-plus"></em>
					</div>
				  </div>
				</a>
			  </div>
			  <div class="swiper-slide">
				<a href="https://images.pexels.com/photos/669319/pexels-photo-669319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
				  data-fancybox="gallery">
				  <div class="image"
					style="background-image: url(https://images.pexels.com/photos/669319/pexels-photo-669319.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
					<div class="overlay">
					  <em class="mdi mdi-magnify-plus"></em>
					</div>
				  </div>
				</a>
			  </div>
			  <div class="swiper-slide">
				<a href="https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?cs=srgb&dl=pexels-picjumbocom-196644.jpg&fm=jpg"
				  data-fancybox="gallery">
				  <div class="image"
					style="background-image: url(https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?cs=srgb&dl=pexels-picjumbocom-196644.jpg&fm=jpg)">
					<div class="overlay">
					  <em class="mdi mdi-magnify-plus"></em>
					</div>
				  </div>
				</a>
			  </div>
			  <div class="swiper-slide">
				<a href="https://images.pexels.com/photos/270632/pexels-photo-270632.jpeg?cs=srgb&dl=pexels-pixabay-270632.jpg&fm=jpg"
				  data-fancybox="gallery">
				  <div class="image"
					style="background-image: url(https://images.pexels.com/photos/270632/pexels-photo-270632.jpeg?cs=srgb&dl=pexels-pixabay-270632.jpg&fm=jpg)">
					<div class="overlay">
					  <em class="mdi mdi-magnify-plus"></em>
					</div>
				  </div>
				</a>
			  </div>
			</div>
			<div class="swiper-pagination"></div>
		  </div>
		</div>
		<!--#Carousel Gallery-->

		<div class="plugins">
		  <h3>VOUS Y ÊTES ! </h3>

		  <a href="http://idangero.us/swiper/" target="_blank">UpCookie Slide</a>
		  <a href="https://fancyapps.com/fancybox/3/" target="_blank">Collection</a>
		</div>
		<!-- partial -->
	  </section>

	  <!-- END GALERY -->
	  <!-- start section 3 -->
	  <section class="section3">
		<div class="text-center">
		  <div class="offres-hero">Nos offres premium</div>
		  <p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aut.
			Reiciendis, laudantium facere? Reiciendis necessitatibus quo
			voluptatum cumque ipsa quidem illo iure inventore odio nulla.
			Ratione itaque sequi officia eaque cum, libero quae repudiandae
			doloribus?
		  </p>
		</div>
		<div class="home-push__mosaic container-packs  text-center flex-wrapper ">
		  <!-- first card -->
		  <div class="card card-big free">
			<a class="pill pill-yellow" href="#"><span>Les Packs Free</span></a>
			<div class="home-list stack-separated" style="--gap: 2">
			  <div class="home-list__item">
				<a class="card__title" href="#/"><span>2 x</span> LOGOS </a>
				<div>
				  <h6>bonus:</h6>Design UI
				</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="#/">INTEGRATION WEB</a>
				<div>
				  <h6>bonus:</h6>Responsives
				</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="#/">CURRICILIUM VITAE & PORTFOLIO</a>
				<div>
				  <h6>bonus:</h6>2 uploads
				</div>
			  </div>
			  <div class="button">
				<a href="#"> ACHETEZ !</a>
			  </div>
			</div>
		  </div>
		  <!-- second card  -->
		  <div class="card card-big premium">
			<a class="pill pill-yellow" href="#"><span>Les Packs Premium</span></a>
			<div class="home-list stack-separated" style="--gap: 2">
			  <div class="home-list__item">
				<a class="card__title" href="#/"><span>4 x</span> LOGOS </a>
				<div>
				  <h6>bonus:</h6>Design UI / UX
				</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="#/"> WEBSITE SINGLE PAGE</a>
				<div>
				  <h6>bonus:</h6>Responsives <span><BIG>1 site web</BIG>+ Hebergement</span>
				</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="#/"><span>2 x</span> CURRICILIUM VITAE & <span>2 x</span> PORTFOLIO</a>
				<div>
				  <h6>bonus:</h6>5 uploads
				</div>
			  </div>
			  <div class="button">
				<a href="#"> ACHETEZ !</a>
			  </div>
			</div>
		  </div>
		  <!-- thirst card  -->
		  <div class="card card-big gold">
			<a class="pill pill-yellow" href="#"><span>Les Packs Gold</span></a>
			<div class="home-list stack-separated" style="--gap: 2">
			  <div class="home-list__item">
				<a class="card__title" href="#/"><span>10 x</span> LOGOS </a>
				<div>
				  <h6>bonus:</h6>Design UI / UX
				</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="#/">DEVELOPPEMENT WEB </a>
				<div>
				  <h6>bonus:</h6>Responsives <span>+ <big>2 x Sites Web</big> Hebergement</span> Back-End +
				  <span>Front-End</span>
				</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="#/"><span>8 x</span> CURRICILIUM VITAE & <span>8 x</span> PORTFOLIO</a>
				<div>
				  <h6>bonus:</h6>15 uploads
				</div>
			  </div>
			  <div class="button">
				<a href="#"> ACHETEZ !</a>
			  </div>
			</div>
		  </div>


		</div>
	  </section>
	  <!-- end section 3 -->
	  
	  <!-- section -->

	  <section class="body-section section-body-packs">
		<div class="home-push__mosaic section-body-content ">

		  <div class="card card-big">
			<a class="pill pill-yellow" href="#">Les dernières formations</a>
			<div class="home-list stack-separated">
			  <div class="home-list__item has-icon">
				<a href="/tutoriels/typescript" class="course__icon" tabindex="-1">
				  <!-- img typscrit -->
				  <img src="../assets/collections/Vector-ts.svg" alt="initiation a typscript" srcset="">
				</a>
				<a class="card__title" href="#">Apprendre Le métier de INTEGRATEUR WEB</a>
				<div>By Abraham OBED</div>
			  </div>
			  <div class="home-list__item has-icon">
				<a href="/#" class="course__icon" tabindex="-1">
				  <!-- HEBERGEMENTG WEB -->
				  <img src="../assets/collections/Vector-Cloud.svg" alt="hebergement web" srcset="">
				</a>
				<a class="card__title" href="/#">Découverte COMMENT HEBERGER UN SITE WEB DINAMYQUE</a>
				<div>By Cynthia</div>
			  </div>
			  <div class="home-list__item has-icon">
				<a href="/#" class="course__icon" tabindex="-1">
				  <!-- img js -->
				  <img src="../assets/collections/Vector-js-visible.svg" alt="initiation a javascript" srcset="">
				</a>
				<a class="card__title" href="/#">Déboguer son code JavaScript</a>
				<div>By Tcodiane</div>
			  </div>
			</div>
		  </div>

		  <div class="card card-big">
			<a class="pill" href="/tutoriels">Les derniers tutoriels</a>
			<div class="home-list stack-separated">
			  <div class="home-list__item has-icon">
				<a href="/#" class="course__icon" tabindex="-1">
				  <!-- img javascript -->
				  <img src="../assets/collections/Vector-js.svg" alt=" front-end avec javascript" srcset="">
				</a>
				<a class="card__title" href="/#">Developper côté client avec JS</a>
				<div>By Tcotidiane</div>
			  </div>
			  <div class="home-list__item has-icon">
				<a href="/#" class="course__icon" tabindex="-1">
				  <!--img nodejs  -->
				  <img src="../assets/collections/Vector-nodejs.svg" alt="backend avec  nodeJS" srcset="">
				</a>
				<a class="card__title" href="/#">Découvrez NodeJS et Npm</a>
				<div>By Moon </div>
			  </div>
			  <div class="home-list__item has-icon">
				<a href="/#" class="course__icon" tabindex="-1">
				  <!-- javascrict -->
				  <img src="../assets/collections/fa-brands_node-js.svg" alt="" srcset="">
				</a>
				<a class="card__title" href="/#">Recréer l'effet fisheye du Dock de MacOS</a>
				<div>By Yayah HC</div>
			  </div>
			</div>
		  </div>

		  <div class="card card-big">
			<a class="pill pill-green" href="/#">Tous les lives des developpeurs</a>
			<div class="home-list stack-separated" style="--gap: 2">
			  <div class="home-list__item">
				<a class="card__title" href="https://www.youtube.com/">LiveCoding Django/JS : J'essaie d'intégrer un
				  Back-End (le retour)</a>
				<div>19 Novembre 2021 By YAYA HC</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="https://www.youtube.com/">LiveCoding HTML/CSS/JS : J'essaie d'intégrer un
				  burger</a>
				<div>18 Octocbre 2021 By TIDIANE</div>
			  </div>
			  <div class="home-list__item">
				<a class="card__title" href="https://www.youtube.com/">LiveCoding REACTJS/VUEJS : On continue la
				  chasse au bug</a>
				<div>17 Novembre2021 By EUREKA</div>
			  </div>
			</div>
		  </div>

		</div>
	  </section>
	  <!-- ===================================================
	  ====================================end body start footer=================================
	====================================================== -->

	  <!-- SLIDE PAGINATOR -->
	  <section class="swipers carousel-gallery">
		<!--  -->
		<!-- Slider main container -->
		<div class="swiper-container">
		  <!-- Additional required wrapper -->
		  <div class="swiper-wrapper">
			<!-- Slides -->
			<!-- <div class="swiper-slide video">
			  <video src="http://techslides.com/demos/sample-videos/small.mp4" autoplay repeat muted></video>
			</div> -->
			
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO1.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO1.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO2.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO2.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO3.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO3.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO4.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO4.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO5.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO5.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO6.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO6.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO7.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO7.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO8.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO8.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO9.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO9.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO10.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO10.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO22.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO22.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO23.png"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO23.png)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO24.jpg"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO24.jpg)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-slide">
			  <a href="../assets/templates/PROMO25.png"
				data-fancybox="gallery">
				<div class="image"
				  style="background-image: url(../assets/templates/PROMO25.png)">
				  <div class="overlay">
					<em class="mdi mdi-magnify-plus"></em>
				  </div>
				</div>
			  </a>
			</div>
			<div class="swiper-pagination"></div>
		  </div>
		  <!-- If we need pagination -->
		  <!-- <div class="swiper-pagination"></div> -->

		  <!-- If we need navigation buttons -->
		  <div class="swiper-button-prev"></div>
		  <div class="swiper-button-next"></div>

		  <!-- If we need scrollbar -->
		  <div class="swiper-scrollbar"></div>
		</div>
	  </section>


<!-- -------------------------------------------------------------------------------------- -->

<!-- <p>Home</p>
	{% for p in premium %}
		<h1>{{ p.name }} de 
		{{ p.price }} $
		</h1>
		<h2>Contenu</h2>
		<p>
			{% for a in p.packs.all %}
				{{ a.name }}:
				{{ a.items }}</p>
			{% endfor %}
		</p>
		<br>
		<hr>
		<br>
	{% endfor %}
	Service favoris: 
	{% for n in services %}
		{{ n.name }}
	{% endfor %} -->
{% endblock %}