{% extends "../base.html" %}
{% load static %}

<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">


{% block content %}
<!-- -------------------------------------------------------------------------------------- -->



<section class="section-card display-grid">
	<!-- text -->
	<article class="course-hero">
	  <div class="content  course-hero__content">
	   <h1>BIENVENUE DANS <strong style="color: aqua;font-family: Inter,sans-serif">LE STORE UPCOOKIE</strong></h1>
	   <div class="card__description text-small">

		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		   quis nostrud exercitation .
		 </p>
	   </div>
	 </div>
	</article>
	 <!--  -->
	 <article class="card">
	   <div class="card__body stack">

		 <div class="card__icons">
		   <a href="/#" class="course__icon" tabindex="-1" title="Tous les tutoriels JavaScript">
			 <img src="../../assets/collections/fa-brands_node-js.svg" alt="JavaScript">
		   </a>
		 </div>

		 <h2 class="card__title">
		   <a href="/#" tabindex="-1">
			 Chiffrer côté client avec Web
		   </a>
		 </h2>

		 <div class="card__description text-small">
		   <p>
			 Dans ce tutoriel je vous propose de découvrir l'API Web Crypto qui vous permet l'accès aux fonctionnalité
			 cryptographiques côté...
		   </p>
		 </div>
		 <a href="/#" title="Chiffrer côté client avec Web" class="card__link"></a>
	   </div>

	   <div class="card__progress"><span></span></div>
	   <footer class="card__footer text-small">
		 <div>
		   <span class="icon icon-js iconify" data-icon="ic:baseline-library-books" style="font-size: 200px;"></span>
		   2 Chapitres</div>
		 <div>

		   by Yaya HC
		 </div>
	   </footer>

	   <div class="card__pills">

		 <div class="pill small pill-yellow ">
		   promotion
		 </div>

	   </div>
	 </article>
	 <!--  -->
	 <article class="card">
	   <div class="card__body stack">

		 <div class="card__icons">
		   <a href="/#" class="course__icon" tabindex="-1" title="Tous les tutoriels JavaScript">
			 <img src="../../assets/collections/fa-brands_node-js.svg" alt="JavaScript">
		   </a>
		 </div>

		 <h2 class="card__title">
		   <a href="/#" tabindex="-1">
			 Chiffrer côté client avec Web
		   </a>
		 </h2>

		 <div class="card__description text-small">
		   <p>
			 Dans ce tutoriel je vous propose de découvrir l'API Web Crypto qui vous permet l'accès aux fonctionnalité
			 cryptographiques côté...
		   </p>
		 </div>
		 <a href="/#" title="Chiffrer côté client avec Web" class="card__link"></a>
	   </div>

	   <div class="card__progress"><span></span></div>
	   <footer class="card__footer text-small">
		 <div>
		   <span class="icon icon-js iconify" data-icon="ic:baseline-library-books" style="font-size: 200px;"></span>
		   2 Chapitres</div>
		 <div>

		   by Yaya HC
		 </div>
	   </footer>

	   <div class="card__pills">

		 <div class="pill small pill-yellow ">
		   promotion
		 </div>

	   </div>
	 </article>
	 <!--  -->
	 <article class="card">
	   <div class="card__body stack">

		 <div class="card__icons">
		   <a href="/#" class="course__icon" tabindex="-1" title="Tous les tutoriels JavaScript">
			 <img src="../../assets/collections/fa-brands_node-js.svg" alt="JavaScript">
		   </a>
		 </div>

		 <h2 class="card__title">
		   <a href="/#" tabindex="-1">
			 Chiffrer côté client avec Web
		   </a>
		 </h2>

		 <div class="card__description text-small">
		   <p>
			 Dans ce tutoriel je vous propose de découvrir l'API Web Crypto qui vous permet l'accès aux fonctionnalité
			 cryptographiques côté...
		   </p>
		 </div>
		 <a href="/#" title="Chiffrer côté client avec Web" class="card__link"></a>
	   </div>

	   <div class="card__progress"><span></span></div>
	   <footer class="card__footer text-small">
		 <div>
		   <span class="icon icon-js iconify" data-icon="ic:baseline-library-books" style="font-size: 200px;"></span>
		   2 Chapitres</div>
		 <div>

		   by Yaya HC
		 </div>
	   </footer>

	   <div class="card__pills">

		 <div class="pill small pill-yellow ">
		   promotion
		 </div>

	   </div>
	 </article>
	 <!--  -->
	 <article class="card">
	   <div class="card__body stack">

		 <div class="card__icons">
		   <a href="/#" class="course__icon" tabindex="-1" title="Tous les tutoriels JavaScript">
			 <img src="../../assets/collections/fa-brands_node-js.svg" alt="JavaScript">
		   </a>
		 </div>

		 <h2 class="card__title">
		   <a href="/#" tabindex="-1">
			 Chiffrer côté client avec Web
		   </a>
		 </h2>

		 <div class="card__description text-small">
		   <p>
			 Dans ce tutoriel je vous propose de découvrir l'API Web Crypto qui vous permet l'accès aux fonctionnalité
			 cryptographiques côté...
		   </p>
		 </div>
		 <a href="/#" title="Chiffrer côté client avec Web" class="card__link"></a>
	   </div>

	   <div class="card__progress"><span></span></div>
	   <footer class="card__footer text-small">
		 <div>
		   <span class="icon icon-js iconify" data-icon="ic:baseline-library-books" style="font-size: 200px;"></span>
		   2 Chapitres</div>
		 <div>

		   by Yaya HC
		 </div>
	   </footer>

	   <div class="card__pills">

		 <div class="pill small pill-yellow ">
		   promotion
		 </div>

	   </div>
	 </article>
	 <!--  -->
	 <article class="card">
	   <div class="card__body stack">

		 <div class="card__icons">
		   <a href="/#" class="course__icon" tabindex="-1" title="Tous les tutoriels JavaScript">
			 <img src="../../assets/collections/fa-brands_node-js.svg" alt="JavaScript">
		   </a>
		 </div>

		 <h2 class="card__title">
		   <a href="/#" tabindex="-1">
			 Chiffrer côté client avec Web
		   </a>
		 </h2>

		 <div class="card__description text-small">
		   <p>
			 Dans ce tutoriel je vous propose de découvrir l'API Web Crypto qui vous permet l'accès aux fonctionnalité
			 cryptographiques côté...
		   </p>
		 </div>
		 <a href="/#" title="Chiffrer côté client avec Web" class="card__link"></a>
	   </div>

	   <div class="card__progress"><span></span></div>
	   <footer class="card__footer text-small">
		 <div>
		   <span class="icon icon-js iconify" data-icon="ic:baseline-library-books" style="font-size: 200px;"></span>
		   2 Chapitres</div>
		 <div>

		   by Yaya HC
		 </div>
	   </footer>

	   <div class="card__pills">

		 <div class="pill small pill-yellow ">
		   promotion
		 </div>

	   </div>
	 </article>
	 <!--  -->
	 <article class="card">
	   <div class="card__body stack">

		 <div class="card__icons">
		   <a href="/#" class="course__icon" tabindex="-1" title="Tous les tutoriels JavaScript">
			 <img src="../../assets/collections/fa-brands_node-js.svg" alt="JavaScript">
		   </a>
		 </div>

		 <h2 class="card__title">
		   <a href="/#" tabindex="-1">
			 Chiffrer côté client avec Web
		   </a>
		 </h2>

		 <div class="card__description text-small">
		   <p>
			 Dans ce tutoriel je vous propose de découvrir l'API Web Crypto qui vous permet l'accès aux fonctionnalité
			 cryptographiques côté...
		   </p>
		 </div>
		 <a href="/#" title="Chiffrer côté client avec Web" class="card__link"></a>
	   </div>

	   <div class="card__progress"><span></span></div>
	   <footer class="card__footer text-small">
		 <div>
		   <span class="icon icon-js iconify" data-icon="ic:baseline-library-books" style="font-size: 200px;"></span>
		   2 Chapitres</div>
		 <div>

		   by Yaya HC
		 </div>
	   </footer>

	   <div class="card__pills">

		 <div class="pill small pill-yellow ">
		   promotion
		 </div>

	   </div>
	 </article>
	 <!--  -->
	 <article class="card">
	   <div class="card__body stack">

		 <div class="card__icons">
		   <a href="/#" class="course__icon" tabindex="-1" title="Tous les tutoriels JavaScript">
			 <img src="../../assets/collections/fa-brands_node-js.svg" alt="JavaScript">
		   </a>
		 </div>

		 <h2 class="card__title">
		   <a href="/#" tabindex="-1">
			 Chiffrer côté client avec Web
		   </a>
		 </h2>

		 <div class="card__description text-small">
		   <p>
			 Dans ce tutoriel je vous propose de découvrir l'API Web Crypto qui vous permet l'accès aux fonctionnalité
			 cryptographiques côté...
		   </p>
		 </div>
		 <a href="/#" title="Chiffrer côté client avec Web" class="card__link"></a>
	   </div>

	   <div class="card__progress"><span></span></div>
	   <footer class="card__footer text-small">
		 <div>
		   <span class="icon icon-js iconify" data-icon="ic:baseline-library-books" style="font-size: 200px;"></span>
		   2 Chapitres</div>
		 <div>

		   by Yaya HC
		 </div>
	   </footer>

	   <div class="card__pills">

		 <div class="pill small pill-yellow ">
		   promotion
		 </div>

	   </div>
	 </article>
	 <!--  -->
   
   </section>





   <!-- <section class="section-4">
   <div class="course-block block rich_text  " id="">
	 <div class="container">
	   <div class="row">
		 <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 course-description">
		   <p><img src="../1.png" class="img-responsive"
			   style="width:200px;border-radius:50%;float:left;margin-right:50px;">
			 <span class="redactor-invisible-space"></span>
		   </p>
		   <p><strong>Développeur web, créateur et entrepreneur.<br></strong> </p>
		   <hr>
		   <p>Cette École est née comme une réponse au <strong>manque de contenu Français </strong>concernant le
			 <strong>Développement Web.</strong><br>L'écosystème Front-End/Back-End/Full-Stack est devenu <strong>une
			   vraie pieuvre tentaculaire </strong>et on se retrouve très rapidement <strong>submergé </strong>de
			 tonnes de Frameworks, librairies et autres langages à devoir maîtriser si l'on veut <strong>rester
			   compétitif et à jour.</strong> </p>
		   <p>Certains organismes proposent des formations de <strong>plusieurs milliers d'euros(c'est beaucoup
			   trop...), parfois dizaines de milliers,</strong> qui durent 6 mois et vous promettent <strong>monts et
			   merveilles.<br></strong><br>Ici tu peux avoir accès<strong> à toutes les formations concernant les
			   derniers concepts à connaitre,</strong> pour un prix très souvent <strong>réduit(</strong>Je propose
			 souvent des <strong>réductions par mail, </strong>tu as juste à t'inscrire à <strong>l'École du
			   web</strong> pour les recevoir). </p>
		 </div>
	   </div>
	 </div>
   </div>
   </div>
 </section> -->



<!-- -------------------------------------------------------------------------------------- -->



<!-- <p>Store</p>

	{% for p in produit %}
		<a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
		{{ p.price }}
	{% endfor %}
	<br> -->
{% endblock %}