{% extends "../base.html" %}
{% load static %}

<link href="{% static 'css/store-page.css' %}" type="text/css" rel="stylesheet">

{% block content %}
<!-- -------------------------------------------------------------------------------------- -->

<section class="store-page">
	<!-- Code Here -->
	<h2>Store page</h2>
</section>

<!-- -------------------------------------------------------------------------------------- -->

<!-- 
<p>Details</p>
	<p>{{ produit.name }}</p>
	<p>{{ produit.number }}</p>
	<p>{{ produit.price }}</p>
	<p>{{ produit.description }}</p>
	 -->

{% endblock %}