{% extends '../base.html' %}
{% load static %}

<link href="{% static 'css/blog.css' %}" type="text/css" rel="stylesheet">

{% block content %}

<!-- -------------------------------------------------------------------------------------- -->


<body>
	
	<aside>
		<div class="aside-content">			
			<div class="social">
				<div class="facebook">
					<a href="#"><img src="{% static 'assets/icon1.png' %}" alt="facebook" title="Facebook"></a>
				</div>
				<div class="twitter">
					<a href="#"><img src="{% static 'assets/icon1.png' %}" alt="twitter" title="Twitter"></a>
				</div>
				<div class="instagram">
					<a href="#"><img src="{% static 'assets/icon1.png' %}" alt="instagram" title="Instagram"></a>
				</div>
				<div class="linkedin">
					<a href="#"><img src="{% static 'assets/icon1.png' %}" alt="linkedin" title="Linkedin">
				</div></a>
				<div class="gmail">
					<a href="#"><img src="{% static 'assets/icon1.png' %}" alt="gmail" title="Gmail">
				</div></a>
			</div>
		</div>

	</aside>

	<main>		
		<div class="blog-header">
			<h2>Blog</h2>
			<p>Welcome to our blog. Subscribe and get our latest post in your inbox.</p>
			<div class="subscribe">
				<input type="text" placeholder="Enter your Email" required="text">
				<a href="#">Subscribe</a>
			</div>
		</div>

		<div class="blog-content">
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">				
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">			
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">				
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">			
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">	
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
        <img src="{% static 'assets/post.jpg' %}">
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">				
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">				
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
			<div class="blog-item">
				<img src="{% static 'assets/post.jpg' %}">				
				<div class="item-detail">
					<h3><a class="item-title" href="#">Why Every People Should Have Blog</a></h3>
					<p class="reference">Published 2 days ago | 5 min read | 8 comments</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a class="read-more" href="#">Read More</a>
				</div>
			</div>
		</div>
	</main>

</body>
  
  
  <!-- -------------------------------------------------------------------------------------- -->
  
  {% endblock %}