{% extends '../base.html' %}
{% load static %}

<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">

{% block content %}

<!-- -------------------------------------------------------------------------------------- -->


<section class="blog-body">
    <div class="blog-posts my5">
        <!-- article 1 -->
        <article class="blog-post"> 
            <a href="" class="blog-post__image"> 
                <img src="../../assets/collections/graffic.svg" alt=""> </a>
                 <div class="blog-post__body">
                <h2 class="blog-post__title">
                    <a href="/blog/pourquoi-apprendre-langage-asynconf">Pourquoi apprendre  ?</a></h2>
                <div class="blog-post__meta">
                    <div>6 décembre 2021</div>
                    <div>Auteur Tico</div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatem vel earum quam voluptates id velit, consequuntur odio nulla amet corrupti. Dolores eos nemo consequuntur sequi quasi delectus officiis ipsum veritatis ipsa, tempora, et beatae dolorum laborum dolor corporis incidunt?
                    . Quand on parle de langage de programmation une question qui revient assez souvent est la question suivante : Quel est le meilleur... </p>
            </div>
        </article>
        <!-- article 2 -->
    </div>
     
  </section>
        <!-- =========================================================
        ==========================end body start footer=======================
      ============================================================ -->

<!-- SLIDE PAGINATOR -->
<center class="swipers">
    <!-- Swiper -->
<div class="swiper mySwiper">
	<div class="swiper-wrapper">
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO1.jpg"  alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO7.jpg" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO2.jpg" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO22.jpg" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO23.png" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO24.jpg" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO25.png" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO3.jpg" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO4.jpg" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO5.jpg" alt="pages" srcset=""></div>
	  <div class="swiper-slide"><img src="../../assets/templates/PROMO6.jpg" alt="pages" srcset=""></div>
	  
	  
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
  </div>
</center>

     <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
  <!-- END PAGINATOR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- jquerie hors ligne  -->
    <script src="../../src/jquery.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>


<!-- -------------------------------------------------------------------------------------- -->

{% endblock %}