{% extends '../base.html' %}
{% load static %}

<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">

{% block content %}

<!-- -------------------------------------------------------------------------------------- -->



      <!-- insert category -->
      <section class="expert-body">
        <section
          id="page-header"
          class="stack text-inversed py5"
          style="margin-bottom: 150px;"
        >
          <h1 class="hero-title">Devenir Expert</h1>
          <div class="hero-text formatted become_dev">
            Devenir expert sur UpCookie, c'est <strong>soutenir</strong> la
            création de nouveaux contenus chaque semaine et accéder à du contenu
            exclusif pour apprendre et s'améliorer (comme le téléchargement des
            vidéos et des sources).
          </div>
        </section>
        <div class="premium-grid">
          <div class="premium-grid__body stack">
            <h2 class="h2">
              Pourquoi cette offre ?
            </h2>
            <div class="hero-text formatted">
              <p>
                Nôtre but à travers UpCookie.ci est de partager nos
                connaissances avec le plus grand nombre, c'est pourquoi nous
                essayons de rendre un maximum de contenu gratuit et public.
              </p>
              <p>
                Malgré tout, la préparation, l'enregistrement et le montage des
                tutoriels prend un temps considérable (10 à 20 heures par
                semaine). Du coup proposer des options payantes, comme le
                téléchargement des sources, nous permettent d'amortir une partie
                du temps passé et de continuer à faire vivre le site.
              </p>
            </div>
          </div>
          <div class="premium-grid__price">
            <nav-tabs
              class="tabs-toggle"
              style="margin-bottom: 35px;"
              role="tablist"
            >
              <button
                aria-controls="plan1"
                role="tab"
                aria-selected="true"
                tabindex="0"
                id="tab-plan1"
              >
                1 mois
              </button>
              <button
                aria-controls="plan2"
                role="tab"
                aria-selected="false"
                tabindex="-1"
                id="tab-plan2"
              >
                3 mois
              </button>
            </nav-tabs>

            <div
              class="card pricing"
              id="plan1"
              role="tabpanel"
              aria-labelledby="tab-plan1"
              tabindex="0"
            >
              <div class="pricing__price">5<sup>€ TTC</sup></div>
              <div class="pricing__item">
                Participez aux meilleures mission freelance
                <strong>en avance</strong>
              </div>

              <div class="pricing__action">
                <premium-button plan="1" price="5" duration="1">
                  <a href="/" class="btn-primary btn-block"
                    ><slot>
                      Devenir expert (1 mois)
                    </slot></a
                  ></premium-button
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <article>
        <div class="premium-grid">
          <!-- start bio -->
          <div class="premium-grid__body stack">
            <h2 class="h2">
              FRANKY BICICI
            </h2>
            <div class="hero-text formatted">
              <p>
                developpeur web full stack et createur de contenue gratuit.
              </p>
              <p>
                Malgré tout, il besion d'argent pour faire vivre le site.
              </p>
            </div>
          </div>
          <!-- end bio -->
          <!-- start conpetences and profile -->
          <div class="premium-grid__price">
            <nav-tabs
              class="tabs-toggle"
              style="margin-bottom: 35px;"
              role="tablist"
            >
              <button
                aria-controls="plan1"
                role="tab"
                aria-selected="true"
                tabindex="0"
                id="tab-plan1"
              >
                1 semaine
              </button>
              <button
                aria-controls="plan2"
                role="tab"
                aria-selected="false"
                tabindex="-1"
                id="tab-plan2"
              >
                3 semaines
              </button>
            </nav-tabs>
            <div
              class="card img"
              style="height: 150px; width:150px; border-radius:100px; display:flex;justify-content:center;align-items:center "
            >
              <img
                src="../../assets/profiles/1 (4).png"
                style="border-radius:100px;"
                alt=""
                srcset=""
              />
            </div>
            <div
              class="card pricing"
              id="plan1"
              role="tabpanel"
              aria-labelledby="tab-plan1"
              tabindex="0"
            >
              <div class="pricing__price">5000<sup>XOF TTC</sup></div>
              <div class="pricing__item">
                Developpeur chez HTEC
                <strong>HTML CSS RUBY </strong>
              </div>

              <div class="pricing__action">
                <premium-button plan="1" price="5" duration="1">
                  <a href="/" class="btn-primary btn-block"
                    ><slot>
                      Contacter FRANKY BICICI (1 mois)
                    </slot></a
                  ></premium-button
                >
              </div>
            </div>
          </div>
          <!-- end profiles -->
        </div>
      </article>
      <!-- second dev  -->
      <article>
        <div class="premium-grid">
          <!-- start bio -->
          <div class="premium-grid__body stack">
            <h2 class="h2">
              OUVRIER PEGEON
            </h2>
            <div class="hero-text formatted">
              <p>
                developpeur web full stack et createur de contenue gratuit.
              </p>
              <p>
                Malgré tout, il besion d'argent pour faire vivre le site.
              </p>
            </div>
          </div>
          <!-- end bio -->
          <!-- start conpetences and profile -->
          <div class="premium-grid__price">
            <nav-tabs
              class="tabs-toggle"
              style="margin-bottom: 35px;"
              role="tablist"
            >
              <button
                aria-controls="plan1"
                role="tab"
                aria-selected="true"
                tabindex="0"
                id="tab-plan1"
              >
                1 semaine
              </button>
              <button
                aria-controls="plan2"
                role="tab"
                aria-selected="false"
                tabindex="-1"
                id="tab-plan2"
              >
                3 semaines
              </button>
            </nav-tabs>
            <div
              class="card img"
              style="height: 150px; width:150px; border-radius:100px; display:flex;justify-content:center;align-items:center "
            >
              <img
                src="../../assets/profiles/1 (3).png"
                style="border-radius:100px;"
                alt=""
                srcset=""
              />
            </div>
            <div
              class="card pricing"
              id="plan1"
              role="tabpanel"
              aria-labelledby="tab-plan1"
              tabindex="0"
            >
              <div class="pricing__price">5000<sup>XOF TTC</sup></div>
              <div class="pricing__item">
                Developpeur chez HTEC
                <strong>HTML CSS RUBY </strong>
              </div>

              <div class="pricing__action">
                <premium-button plan="1" price="5" duration="1">
                  <a href="/" class="btn-primary btn-block"
                    ><slot>
                      Contacter FRANKY PEGEON (1 mois)
                    </slot></a
                  ></premium-button
                >
              </div>
            </div>
          </div>
          <!-- end profiles -->
        </div>
      </article>
      <!-- pagination profiles dev -->

      <!-- =========================================================
        ==========================end body start footer=======================
      ============================================================ -->
      <!-- SLIDE PAGINATOR -->
      <center class="swipers">
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO1.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO7.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO2.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO22.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO23.png"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO24.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO25.png"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO3.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO4.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO5.jpg"
                alt="pages"
                srcset=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="../../assets/templates/PROMO6.jpg"
                alt="pages"
                srcset=""
              />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </center>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.mySwiper', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      })
    </script>
    <!-- END PAGINATOR -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- jquerie hors ligne  -->
    <script src="../../src/jquery.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>



<!-- -------------------------------------------------------------------------------------- -->




<!-- <p>Experts</p>

	{% for e in experts %}
		Nom: <a href="{{ e.get_absolute_url }}">{{ e.name }}</a>
		{{ e.surname }}
		<h2>Note: {{ e.note }} etoils</h2>	
		{% for a in e.stacks.all %}
			<h3>Stacks: {{ a.name }}</h3>
			<p>Competences:
			{% for i in a.competences.all %}
				{{ i.name }}
			{% endfor %}
			</p>
		{% endfor %}
	<br>
	{% endfor %} -->
{% endblock %}