{% extends '../base.html' %}
{% load static %}

<link href="{% static 'css/experts.css' %}" type="text/css" rel="stylesheet">

{% block content %}

<!-- -------------------------------------------------------------------------------------- -->

<section class="experts">
  <!-- Code Here -->
  <h2>Experts</h2>
</section>

<!-- -------------------------------------------------------------------------------------- -->


<!-- <p>Experts</p>
	{% for e in experts %}
		Nom: <a href="{{ e.get_absolute_url }}">{{ e.name }}</a>
		{{ e.surname }}
		<h2>Note: {{ e.note }} etoils</h2>	
		{% for a in e.stacks.all %}
			<h3>Stacks: {{ a.name }}</h3>
			<p>Competences:
			{% for i in a.competences.all %}
				{{ i.name }}
			{% endfor %}
			</p>
		{% endfor %}
	<br>
	{% endfor %} -->
{% endblock %}