{% extends "../base.html" %}
{% load static %}

<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">

{% block content %}

<!-- -------------------------------------------------------------------------------------- -->

<section class="contact">
    <div class="container-fluid">
        <div class="contact-body">
            <form action="GET" method="get">
              <div class="form-body">
                  <div class="name">
                      <input type="text" name="name" id="" placeholder="Entrer vôtre Nom et Prénom" required>
                      <span></span>
                      <label for="GET">Nom et prénom</label>
                   </div>
                   <div class="email">
                      <input type="email" name="email" id="" placeholder="Entrer vôtre Nom et Prénom" required>
                      <span></span>
                      <label for="GET">Email</label>
                   </div>  
              </div>
              <div class="textarea">
                  <textarea name="textarea" id="textarea" aria-placeholder="true" placeholder="Entrer vôtre commentaire ici ...">

                  </textarea>
              </div>
          <div class="submit">
              <input type="button" value="Envoyer">
          </div>
            </form> 
            
        </div>
    </div>
</section>
<!-- =================add new member in the team =================-->
<div class="add-team">
 <div class="section__add-team">
     <div class="course-hero">
         <h1>Rejoint la Team</h1>
     </div>
 </div>
 <!--  -->
 <section class="add-team">
     <div class="add-title course-hero">
         <h1><span style="color: aqua;">UPHUB</span></h1>
     </div>
     <div class="add-body">
         <p>Si tu est créateur de contenu de tout genre, rejoint notre team avoir des commisions.</p>
     </div>
     <div class="button">
         <a href="http://#">NOUS REJOINDRE</a>
     </div>
 </section>
 <!--  -->
 <section class="add-team">  
      <div class="course-hero">
  <H3>Qui peux nous réjoindre?</H3>
</div>
   <div class="article">
      <article class="card card-team">
          <div class="card__body card-body-team stack" >
           
              <div class="card card-1">
                  <div class="card-img">
                      <img src="../../assets/profiles/1 (5).png" style="border-radius: 100px;" alt="" srcset="">
                  </div>
                  <div class="card__progress"><span></span></div>
                  <div class="card-title card__title">
                      <h1>DEVELOPPEUR WEB</h1>
                      <span>+225 0584205108</span>
                  </div>
                  <div class="card__progress"><span></span></div>
                  <div class=" card__description">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, </p>
                  </div>
              </div>
             
           </div>
         </article>
         <!--  -->
        <article class="card card-team">
          <div class="card__body card-body-team stack">
  
              <div class="card card-1">
                  <div class="card-img">
                      <img src="../../assets/profiles/1 (4).png" style="border-radius: 100px;" alt="" srcset="">
                  </div>
                  <div class="card__progress"><span></span></div>
                  <div class="card-title card__title">
                      <h1>DEVELOPPEUR MOBILE</h1>
                  </div>
                  <div class="card__progress"><span></span></div>
                  <div class="card-body card__description">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.!</p>
                  </div>
              </div>
             
          </div>
        </article>
         <!--  -->
         <article class="card card-team">
             <div class="card__body card-body-team stack">
  
                 <div class="card card-1">
                     <div class="card-img">
                         <img src="../../assets/profiles/1 (3).png" style="border-radius: 100px;" alt="" srcset="">
                     </div>
                     <div class="card__progress"><span></span></div>
                     <div class="card-title card__title">
                         <h1>DEVELOPPEUR WEB/MOBILE</h1>
                     </div>
                     <div class="card__progress"><span></span></div>
                     <div class="card-body card__description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. !</p>
                     </div>
                 </div>
                
             </div>
         </article>
   </div>
 </section>
 <!-- final section -->
 <center class="add-team text-center">
  <div class="course-hero"><h1>Plus de temps a perdre</h1></div>
  <div class="button">
   <a href="http://#">REJONT NOUS MAINTENANT !</a>
</div>
</center>
  
</div>
      <!-- =========================================================
      ==========================end body start footer=======================
    ============================================================ -->

<!-- SLIDE PAGINATOR -->
<center class="swipers">
  <!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="../../assets/templates/PROMO1.jpg"  alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO7.jpg" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO2.jpg" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO22.jpg" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO23.png" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO24.jpg" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO25.png" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO3.jpg" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO4.jpg" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO5.jpg" alt="pages" srcset=""></div>
    <div class="swiper-slide"><img src="../../assets/templates/PROMO6.jpg" alt="pages" srcset=""></div>
    
    
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
</center>
    
  <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper(".mySwiper", {
  spaceBetween: 30,
  centeredSlides: true,
  autoplay: {
    delay: 2500,
    disableOnInteraction: false,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
});
</script>
<!-- END PAGINATOR -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- jquerie hors ligne  -->
  <script src="../../src/jquery.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>


<!-- -------------------------------------------------------------------------------------- -->

{% endblock %}