{% extends "../base.html" %}
{% load static %}

<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">


{% block content %}

<!-- -------------------------------------------------------------------------------------- -->





<section class="service__content">

	<div class="course-hero">
		<H1>TOUT NOS <strong>SERVICES</strong></H1>
		<p class="mb1">
			Découvrez une technologie spécifique à travers une série de servives qui vous guidera dans votre
			apprentissage
		</p>
	</div>
	<!--  -->
	<div class="acess container">
		<section class="text-center acess3">
			<h1 class=" heading heading_3WSYs"> Access 3.7 Million+ Design </h1>
			<div class="font-size-lg pb-5-5 subHeading_2_jOP"> 4000+ nouveau contenue chaque semaine. Plus
				800,000+ Users attendus. </div>
		</section>
		<section class="acess">
			<div chance="50" name="Column-layout-variant">
				<div class="container_3qUJQ">
					<div class="customRow_2EITA">
						<div class="customCol_3PJep freebox">
							<div class="container_hLHjO">
								<h3 class="title_3nPLz">Free</h3>
								<div class="accessList_2lfK0">
									<ul class="list-unstyled text-left mb-0">
										<li class="d-flex align-items-center mb-3">

											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3">Très Limitée au Contenu Gratuit</div>
										</li>
										<li class="d-flex align-items-center mb-0">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3"> Le Basic Packs </div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="customCol_3PJep fulltbox">
							<div class="container_2o1j3">
								<div class="bestBadge_3qZ-C"></div>
								<div class="titleWrap_Trlsj">
									<h3 class="title_3f19_">FULL STACK</h3>
									<div class="mTag_3xPut font-size-sm">Très Popular</div>
								</div>
								<div class="pricing_194Zu">
									<h2 class="m-0"><span><span>$</span>25.99</span></h2> <span
										class="ml-2-5 font-size-sm mb-2 slashedTxt_8SZeo">$20.99</span>
									<span class="ml-2 mb-2 font-size-sm badge_hHqOs">(économise 33%)</span>
								</div>
								<div class="pricingNote_2HehN font-size-sm mb-5"> Par Semaine 3/7jours </div>
								<button class="btn btn-primary btn-lg btn-block"> Obtenir un Pack FULL STACK
								</button>
								<div class="pricingNote_2HehN font-size-sm mt-2">
									<a href="http://">
										Choisir une équipe de Développeur pour votre Project!
									</a>
								</div>
								<div class="accessList_39PJG">
									<ul class="list-unstyled text-left mb-0">
										<li class="d-flex align-items-start mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">

												</path>
											</svg>
											<div class="font-size-sm ml-3"> 3.7 Million+ Illustrations, 3D
												Graphics, Icons, et Animations </div>
										</li>
										<li class="d-flex align-items-start mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">

												</path>
											</svg>
											<div class="font-size-sm ml-3">Téléchargements Codes Source </div>
										</li>
										<li class="d-flex align-items-start mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">

												</path>
											</svg>
											<div class="font-size-sm ml-3">Ajout de Contenue Exclusives chaques
												Week-end</div>
										</li>
										<li class="d-flex align-items-start mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">

												</path>
											</svg>
											<div class="font-size-sm ml-3">Obtenez free Digital License</div>
										</li>


										<li class="d-flex align-items-start mb-0">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">

												</path>
											</svg>
											<div class="font-size-sm ml-3">Premium access</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="customCol_3PJep">
							<div class="container_1C7oa">
								<h3 class="title_2Vcey">BACK END</h3>
								<div>
									<h3 class="h2"><span><span>$</span>19.99</span></h3>
								</div>
								<div class="pricingNote_1r7ol font-size-sm mb-5"> Par mois, OU annuellement
								</div> <button class="btn btn-default btn-lg btn-block"> Souscrivez maintenant
								</button>
								<div class="pricingNote_1r7ol font-size-sm mt-2">
									<a href="http://" class="btn btn-info" target="_blank"
										rel="noopener noreferrer">Développeurs disponible pour votre
										Project!</a>
								</div>
								<div class="accessList_TTC_b">
									<ul class="list-unstyled text-left mb-0">
										<li class="d-flex align-items-center mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3 ">Developpement Web & Reférencement
												<STRONG>SEO</STRONG></div>
										</li>
										<li class="d-flex align-items-center mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3">Service D'Hébergement</div>
										</li>
										<li class="d-flex align-items-center mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3">Service de Managment & Publication
											</div>
										</li>

									</ul>
								</div>
							</div>
						</div>
						<div class="customCol_3PJep frontbox">
							<div class="container_1C7oa">
								<h3 class="title_2Vcey">FRONT END</h3>
								<div>
									<h3 class="h2"><span><span>$</span>9.99</span></h3>
								</div>
								<div class="pricingNote_1r7ol font-size-sm mb-5"> Par mois, OU annuellement
								</div> <button class="btn btn-default btn-lg btn-block">Souscrivez
									maintenant</button>
								<div class="pricingNote_1r7ol font-size-sm mt-2">
									<a href="http://" class="btn btn-info" target="_blank"
										rel="noopener noreferrer">Développeurs disponible !</a>
								</div>
								<div class="accessList_TTC_b">
									<ul class="list-unstyled text-left mb-0">
										<li class="d-flex align-items-center mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">

												</path>
											</svg>
											<div class="font-size-sm ml-3">Integration WEB</div>
										</li>
										<li class="d-flex align-items-center mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3">DESIGN UI / UX</div>
										</li>
										<li class="d-flex align-items-center mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3">Maquettes Offerts</div>
										</li>
										<li class="d-flex align-items-center mb-3">
											<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 24 24" fill="currentColor" class="ui-svg-inline">
												<path
													d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z">
												</path>
											</svg>
											<div class="font-size-sm ml-3">Hebergement Offert</div>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--  -->
	<div class="mt-6 pt-5 pb-10 bottomBg_32AqJ"></div>
</section>
<!-- integration web  -->
<section class="integrations">
	<center class="center integration">
		<div class="integration-title course-hero">
			<H1>INTEGRATION <strong>WEB</strong></H1>
		</div>
		<div class="integration-content x">
			<div class="integration-img">
				<div class="integration-img__content">
					<div class="integration-img__text">
						<span> HTML </span>
					</div>
					<div class="html">
						<a href="" class="icon ">
							<img src="/assets/collections/vector-html.svg" alt="CSS">
						</a>
					</div>
				</div>
				<!--  -->
				<div class="integration-img__content">
					<div class="integration-img__text">
						<span> CSS </span>
					</div>
					<div class="css">
						<a href="" class="icon">
							<span></span> <img src="/assets/collections/Vector-css.svg" alt="CSS">
						</a>
					</div>
				</div>
			</div>
			<div class="integration-content content-illustration">

				<div class="illustration-integration">

				</div>
				<div class="illustration-text">
					<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, sequi? Magni laboriosam beatae aliquid neque! Nobis minus cupiditate id molestiae fuga, consequuntur ducimus reiciendis numquam saepe, pariatur at nam aliquam error aut mollitia aspernatur animi hic dolorum repellat, tempora fugiat!</h1>
					<p class="mb1">
						Découvrez une technologie spécifique à travers une série de servives qui vous guidera dans
						votre apprentissage Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio beatae 
						dolorem illo iste alias labore nemo eligendi omnis cum quam.
					</p>
				</div>
			</div>
		</div>
	</center>
</section>
<!-- developpemnt web -->
<section class="idev">
	<center class="center dev">
		<div class="dev-title course-hero">
			<H1>DEVELOPPEMENT <strong>WEB</strong></H1>
		</div>
		<div class="dev-content x">
			<div class="dev-img">
				<div class="integration-img__content">
					<div class="dev-img__text">
						<span> HTML </span>
					</div>
					<div class="html">
						<a href="" class="icon ">
							<img src="/assets/collections/vector-html.svg" alt="CSS">
						</a>
					</div>
				</div>
				<!--  -->
				<div class="dev-img__content">
					<div class="dev-img__text">
						<span> CSS </span>
					</div>
					<div class="css">
						<a href="" class="icon">
							<span></span> <img src="/assets/collections/Vector-css.svg" alt="CSS">
						</a>
					</div>
				</div>
				<!--  -->
				<div class="dev-img__content">
					<div class="dev-img__text">
						<span> JAVASCRIPT </span>
					</div>
					<div class="css">
						<a href="" class="icon">
							<span></span> <img src="/assets/collections/Vector-nodejs.svg" alt="JS">
						</a>
					</div>
				</div>
			</div>
			<div class="dev-content content-illustration">

				<div class="illustration-dev">

				</div>
				<div class="illustration-text">
					<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, sequi? Magni laboriosam beatae aliquid neque! Nobis minus cupiditate id molestiae fuga, consequuntur ducimus reiciendis numquam saepe, pariatur at nam aliquam error aut mollitia aspernatur animi hic dolorum repellat, tempora fugiat!</h1>
					<p class="mb1">
						Découvrez une technologie spécifique à travers une série de servives qui vous guidera dans
						votre apprentissage Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio beatae 
						dolorem illo iste alias labore nemo eligendi omnis cum quam.
					</p>
				</div>
			</div>
		</div>
	</center>
</section>
<!-- dev web  -->
<!-- framework -->




<!-- -------------------------------------------------------------------------------------- -->


	<!-- {% for s in services %}
		<a href="{{ s.get_absolute_url }}"><h1>{{ s.name }}</h1></a>
		{{ s.description }}
		<p>
			{% for d in s.tarifs.all %}
				<p>{{ d.items }}
				{{ d.name }}:
				{{ d.price }} $</p>
			{% endfor %}
		</p>
		<br>
	{% endfor %} -->
{% endblock %}