{% extends "../base.html" %}
{% load static %}

<link href="{% static 'css/services.css' %}" type="text/css" rel="stylesheet">


{% block content %}

<!-- -------------------------------------------------------------------------------------- -->

<section class="services">
	<!-- Code Here -->
	<h2>Services</h2>
</section>

<!-- -------------------------------------------------------------------------------------- -->

	<!-- {% for s in services %}
		<a href="{{ s.get_absolute_url }}"><h1>{{ s.name }}</h1></a>
		{{ s.description }}
		<p>
			{% for d in s.tarifs.all %}
				<p>{{ d.items }}
				{{ d.name }}:
				{{ d.price }} $</p>
			{% endfor %}
		</p>
		<br>
	{% endfor %} -->

{% endblock %}